@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clearfix{
    clear: both;

}
.clearfix::after{
    display: block;
    content :" ";
    clear: both ;
}

/* body{
    width: 1170px;
    margin: auto;
} */

h1{
    font-size: 1.8rem;
    line-height: 2rem;
}

h2{

    font-size: 1.6;
    line-height: 1.8rem;
}

h3{
    font-size: 1.2;
    line-height: 1.4rem;
}

h4{
    font-size: 1rem;
    line-height: 1.3rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1.1rem
}

/* LAYOUT */

#top-row{
    background-color: aqua;
    width: 1170px;
    height: 80px;
    margin: 0 auto;

}

#logo{
    float: left;
    height: 60px;
   margin-top: 10px;
   margin-left: 10px;
}

#nav-row{
    background-color: #231f20;
    height: 80px;
    padding: 50px;
}

#last-row{
    background-color: darkgoldenrod;
}

#icons{
    padding-top: 10px;
    float: right;
    width: 70%;
    
}

#icons>div:first-child{
    height: 30px;
    /* float: right; */
    background-color:rebeccapurple;
}

#icons>div:last-child{
    height: 30px;
    /* float: right; */
    background-color: rgb(37, 180, 113);
}

#icons>div>li{
    color: #1f1f1f;
    padding: 5px 20px;
    float: right;
    list-style-type: none;
}

#icons>div>li a:hover{
    color: yellow;
    text-decoration: underline;

}

#icons>div>div {
    float: left;
    padding: 2px 10px;
}

#icons>div>div a{
    color: #1f1f1f;
    text-decoration: none;
}

#icons>div>div a:hover{
    color: yellow;
    text-decoration: underline;
}

#nav-row{
    height: 0px;
}

#nav-row>li {
    list-style-type: none;
    float: left;
    padding-bottom: 0px;
}

#nav-row>li>a{
    display: inline-block;
    color: white;
    padding: 10px 15px;
}

#nav-row>li>a::after{
    position: absolute;
    display: block;
    content: "";
    border-top: 6px solid rgb(29, 44, 181);
    border-left: 6px solid red;
    border-right: 6px solid yellow;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;

}

#nav-row>li>a:hover{
    color: yellow;
    background-color: orange;
}

#arrow{
    background-color: crimson;
}

#btns{
    text-align: right;
    padding: 4px;
}

#last-row{
    background-color: yellow;
    
}

.btn{
    display: inline-block;
    color: white;
    border-radius: 4px;
    border: 2px solid;
    border: none;
    /* border-color: black; */
    border-bottom: 2px solid #0f027b;
    height: 40px;
    background-color: #107ece;
    text-transform: uppercase;
    line-height: 40px;
    text-decoration: none;
    font-size: 00.8rem;
}

.btn:hover{
    color: red;
}

/* Footer */

footer .row{
    background-color: #107ece;
}

footer>#copy-right-row{
    background-color: rgb(21, 182, 21);
}

#copy-right-row>.container{

    padding: 16px 0;
    color: #1f1f1f;
    font-size: 0.7rem;
    text-align: center;

}

footer>.row .container .col{
    background-color: brown;
    height: 215px;
    padding-top: 10px;
    width: 25%;
    float: left;

}

footer>.row .container .col:first-child{
    color: white;
    background-color: #333;
}

footer>.row .container .col:nth-child(2){
    color: white;
    background-color: #333;
}

footer>.row .container .col:nth-child(3){
    color: white;
    background-color: #333;
}
footer>.row .container .col:last-child{
    color: white;
    background-color: rgb(4, 4, 4);
}

main #container{
    /* background-color:rgb(31, 52, 210) ; */
    padding: 20px 10px 0;
    height: 100%;
}

main #container>#main-col1{
    /* background-color: lightcoral; */
    width: 75%;
    float: left;
    height: 90px;
}

main #container>#main-col2{
    /* background-color: rgb(58, 184, 182); */
    width: 25%;
    float: right;
    height: 90px;
}

main #container>#main-col1>ul>li{
    /* background-color: #736464; */
    width: 20%;
    padding: 10px 40px;
    float: left;
}

main #container>#main-col1>ul>li{
    text-align: right;
}
main #container>#main-col1>ul li a{
    display: inline-block;
}

.country-code{
    padding: 10px;
    display: block;
    text-align: center;
}

h3{
    font-size: 1.1rem;
}

